<!DOCTYPE html>
<html lang="PT-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">
    <link href="./land_page/simple-line-icons/css/simple-line-icons.css" rel="stylesheet">
    <link rel="stylesheet" href="../land_page/css/index.css">
    <link rel="icon" href="../land_page/img/Logo.png">
    <title># É possivel fazer</title>
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <img class="image-logo" src="../land_page/img/logo é possível1.png" alt="Logo # é possível fazer">
                <p class="text-justify">
                    Somos um movimento cívico-político-apartidário que tem como principal valor o
                    conceito mais genuíno de REPÚBLICA, a “ RES PÚBLICA”. Onde todos detém, são
                    merecedores, responsáveis, mantenedores e usufruem do que é PÚBLICO.
                </p>
                <p class="text-justify">
                    Acreditamos que <strong><a class="social-face-1 " href="https://www.facebook.com/Epossivelfazer/"
                    target="_blanck"><i>É POSSÍVEL FAZER</i></a></strong> o bem comum combatendo o individualismo na
                    prática democrática. Pois, é este individualismo que motiva as práticas de corrupção na
                    gestão da “COISA PÚBLICA” e corroem a REPÚBLICA promovendo a DETURPAÇÃO
                    DO PODER PÚBLICO.<br><br>
                </p>
            </div>

            <div class="col-sm-6">
                <div class="box-contact">
                    <p class="information">Quero receber informações!</p>
                    <div class="form-group">
                        <label for="name">Nome Completo</label><br>
                        <input id="name" type="text" autocomplete="off">
                    </div>

                    <div class="form-group">
                        <label for="whats">WhatsApp</label><br>
                        <input id="whats" type="text" autocomplete="off">
                    </div>

                    <button id="btn-submit">Enviar</button>
                    
                </div>
            </div>
        </div>
    </div>

    <hr>

    <div class="container">
        <div class="row">

            <div class="col-sm-4">
                <ul class="list-group">
                    <li>- Transporte Público</li>
                    <li>- Saneamento Básico</li>
                    <li>- Educação</li>
                </ul>
            </div>

            <div class="col-sm-4">
                <img class="image-corruption" src="../land_page/img/não corrupção.jpeg" alt="Não a corrupção">
            </div>

            <div class="col-sm-4">
                <ul class="list-group">
                    <li>- Agricultura Familar</li>
                    <li>- Geração de renda pelo Lixo e Óleo</li>
                    <li>- Controle Social da Saúde</li>
                </ul>
            </div>

        </div>
    </div>

    <br>
    <hr>

    <div class="container">
        <div class="row">

            <div class="col-md-6">
                <img class="photograph-marcus" src="../land_page/img/WhatsApp Image 2020-09-11 at 4.15.20 PM.jpeg"
                    alt="Professor Marcão">

                <div class="redes-sociais">

                    <a class="social-face relative text-center py-3" href="https://www.facebook.com/profmarcaotere/"
                        target="_blanck">
                        <i class="icon-social-facebook"></i></a>

                    <a class="social-insta relative text-center py-3"
                        href="https://www.instagram.com/professormarcaotere/?hl=pt-br" target="_blanck">
                        <i class="icon-social-instagram"></i></a>
                </div>
            </div>

            <div class="col-sm-6">
                <p class="text-justify"><br>
                    É possível fazer política inteligente, coerente, honesta e comprometida com as necessidades do povo.
                    Sim, é possível!
                </p>
            </div>

        </div>
    </div>

    <div class="page-footer footer-copyright relative text-center py-3">
        © 2020 Copyright:
        <a class="link-footer" href="https://ciceromngr.github.io/Portfolio-Jonsons.github.io/" target="_blanck"> JonsosVelopers</a>
        <img class="logo-jonsonsvelopers" src="../land_page/img/Logo.png" alt="Logo JonsonsVelopers">
    </div>

    <script src="https://kit.fontawesome.com/37f55b57f9.js" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://kit.fontawesome.com/31a2144e07.js" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="../land_page/js/landPage.js"></script>
</body>

</html>