<!DOCTYPE html>
<html lang="PT-BR">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="../web_app/css/index.css">
  <link rel="icon" href="../web_app/img/Logo.png">
  <title>Web App</title>
</head>

<body>

  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <img class="image-logo" src="../web_app/img/logo é possível1.png" alt="Logo # é possível fazer">
      </div>
    </div>
  </div>

  <div class="container">
    <ul class="nav nav-tabs">
      <li class="active"><a data-toggle="tab" href="#funcionario">Funcionário</a></li>
      <li><a data-toggle="tab" href="#usuario" id="btn-usuario">Usuário</a></li>
      <li><a id="btn-adicionar" data-toggle="tab" href="#adicionar-funcionario">Adicionar Funcionário</a></li>
    </ul>

    <div class="tab-content">
      <div id="funcionario" class="tab-pane fade in active">
        <table class="funcionario table table-hover">
          <thead>
            <tr>
              <th>Código</th>
              <th>Nome</th>
              <th>CPF</th>
              <th>Email</th>
              <th>Senha</th>
              <th>Data de Nascimento</th>
              <th>Endereço</th>
              <th>Salario</th>
            </tr>
          </thead>
          <tbody class="tableFuncionario">
          </tbody>
        </table>
      </div>

      <div id="usuario" class="tab-pane fade">
        <table class="usuario table table-hover">
          <thead>
            <tr>
              <th>Código</th>
              <th>Nome</th>
              <th>WhatsApp</th>
            </tr>
          </thead>
          <tbody class="tableUsuario">
          </tbody>
        </table>
      </div>

      <div id="adicionar-funcionario" class="tab-pane fade"></div>

    </div>
  </div>
  </div>

  <div id="modal-adicionar" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <form autocomplete="off">
          <div class="modal-header">
            <h5 class="modal-title">Editar Informações do funcionario</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">

            <div class="row">
              <div class="col-sm-4">
                <div class="form-group">
                  <label for="nome">Nome:</label>
                  <input autocomplete="off" type="text" class="form-control" id="nome">
                </div>
              </div>

              <div class="col-sm-4">
                <div class="form-group">
                  <label for="cpf">CPF:</label>
                  <input autocomplete="off" type="text" class="form-control" id="cpf">
                </div>
              </div>

              <div class="col-sm-4">
                <div class="form-group">
                  <label for="email">Email:</label>
                  <input class="form-control" id="email">

                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-sm-3">
                <div class="form-group">
                  <label for="senha">Senha:</label>
                  <input class="form-control" id="senha">

                </div>
              </div>

              <div class="col-sm-6">
                <div class="form-group">
                  <label for="salario">Salario</label>
                  <input type="email" class="form-control" id="salario">
                </div>

              </div>
              <div class="col-sm-3">
                <div class="form-group">
                  <label for="data-nascimento">Data de nascimento:</label>
                  <input type="text" class="form-control" id="data-nascimento">
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-sm-4">
                <div class="form-group">
                  <label for="cep">CEP:</label>
                  <input class="form-control" type="text" id="cep">
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                  <label for="rua">Rua:</label>
                  <input class="form-control" type="text" id="rua">
                </div>
              </div>
              <div class="col-sm-2">
                <div class="form-group">
                  <label for="numero">Numero:</label>
                  <input type="text" class="form-control" id="numero">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-4">
                <div class="form-group">
                  <label for="bairro">Bairoo:</label>
                  <input type="text" class="form-control" id="bairro">
                </div>
              </div>
              <div class="col-sm-4">
                <div class="form-group">
                  <label for="cidade">Cidade:</label>
                  <input type="text" class="form-control" id="cidade">
                </div>
              </div>
              <div class="col-sm-4">
                <div class="form-group">
                  <label for="estado">Estado:</label>
                  <input type="text" class="form-control" id="estado">
                </div>
              </div>
            </div>
            </form>
          </div>
          <div class="modal-footer">
              <button type="button" class="btn btn-primary" data-dismiss="modal" id="save">Save changes</button>
              <button type="button" class="btn btn-secondary" data-dismiss="modal" id="cancel">Close</button>
            </div>
          </div>
        </div>
      </div>
      <div id="modal-exclusao"class="modal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Deseja realmente Excluir?</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
            </div>
            <div class="modal-footer">
              <button id="confirmar" type="button" class="btn btn-primary" data-dismiss="modal" id="salvar-edicao">Confirmar</button>
              <button id="cancelar" type="button" class="btn btn-secondary" data-dismiss="modal" id="cancelar-edicao">Cancelar</button>
            </div>
          </div>
        </div>
      </div>
      <div id="modal-editar"class="modal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Editar Informações do funcionario</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
    
            <div class="row">
              <form autocomplete="off">
    
                <div class="row">
                  <div class="col-sm-4">
                    <div class="form-group">
                      <label for="nome">Nome:</label>
                      <input autocomplete="off" type="text" class="form-control" id="nome">
                    </div>
                  </div>
    
                  <div class="col-sm-4">
                    <div class="form-group">
                      <label for="cpf">CPF:</label>
                      <input autocomplete="off" type="text" class="form-control" id="cpf">
                    </div>
                  </div>
    
                  <div class="col-sm-4">
                    <div class="form-group">
                      <label for="email">Email:</label>
                      <input class="form-control" id="email">
    
                    </div>
                  </div>
                </div>
    
                <div class="row">
                  <div class="col-sm-3">
                    <div class="form-group">
                      <label for="senha">Senha:</label>
                      <input class="form-control" id="senha">
    
                    </div>
                  </div>
    
                  <div class="col-sm-6">
                    <div class="form-group">
                      <label for="salario">Salario</label>
                      <input type="email" class="form-control" id="salario">
                    </div>
    
                  </div>
                      <div class="col-sm-3">
                        <div class="form-group">
                          <label for="data-nascimento">Data de nascimento:</label>
                          <input type="text" class="form-control" id="data-nascimento">
                        </div>
                      </div>
                  </div>
                  
                  <div class="row">
                    <div class="col-sm-4">
                      <div class="form-group">
                        <label for="cep">CEP:</label>
                        <input class="form-control" type="text" id="cep">
                      </div>
                    </div>
                    <div class="col-sm-6">
                      <div class="form-group">
                        <label for="rua">Rua:</label>
                        <input class="form-control" type="text" id="rua">
                      </div>
                    </div>
                    <div class="col-sm-2">
                      <div class="form-group">
                        <label for="numero">Numero:</label>
                        <input type="text" class="form-control" id="numero">
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-4">
                      <div class="form-group">
                        <label for="bairro">Bairoo:</label>
                        <input type="text" class="form-control" id="bairro">
                      </div>
                    </div>
                    <div class="col-sm-4">
                      <div class="form-group">
                        <label for="cidade">Cidade:</label>
                        <input type="text" class="form-control" id="cidade">
                      </div>
                    </div>
                    <div class="col-sm-4">
                      <div class="form-group">
                        <label for="estado">Estado:</label>
                          <input type="text" class="form-control" id="estado">
                      </div>
                    </div>
                  </div>
                </form>
            </div>
        </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-primary" data-dismiss="modal" id="salvar-edicao">Save changes</button>
              <button type="button" class="btn btn-secondary" data-dismiss="modal" id="cancelar-edicao">Close</button>
            </div>
          </div>
        </div>
      </div>

    </div>


  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
  <script src="../web_app/js/webApp.js"></script>
</body>

</html>